.contato,
.contato * {
  box-sizing: border-box;
}
.contato {
  background: #ffffff;
  height: 1099px;
  position: relative;
}
.instagram-plataformadecursos-facebook-facebook-com-plataformadecursos-tik-tok-plataformadecursos-twitter-x-plataformacursos-you-tube-youtube-com-plataformadecursos-linked-in-linkedin-com-company-plataformadecursos-site-oficial-www-plataformadecursos-com-br-contato-contato-plataformadecursos-com-br {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 20px;
  top: 355px;
  width: 660px;
}
.instagram-plataformadecursos-facebook-facebook-com-plataformadecursos-tik-tok-plataformadecursos-twitter-x-plataformacursos-you-tube-youtube-com-plataformadecursos-linked-in-linkedin-com-company-plataformadecursos-site-oficial-www-plataformadecursos-com-br-contato-contato-plataformadecursos-com-br-span {
}
.instagram-plataformadecursos-facebook-facebook-com-plataformadecursos-tik-tok-plataformadecursos-twitter-x-plataformacursos-you-tube-youtube-com-plataformadecursos-linked-in-linkedin-com-company-plataformadecursos-site-oficial-www-plataformadecursos-com-br-contato-contato-plataformadecursos-com-br-span2 {
  text-decoration: underline;
}
.fique-por-dentro-de-dicas-oportunidades-lan-amentos-e-bastidores-do-mundo-da-educa-o-tech {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 20px;
  top: 832px;
  width: 660px;
}
.acompanhe-a-plataforma-de-cursos-nas-redes-sociais {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 20px;
  top: 225px;
  width: 660px;
}
.group-11 {
  position: absolute;
  inset: 0;
}
.rectangle-4 {
  background: #d9d9d9;
  border-radius: 25px;
  width: 178px;
  height: 81px;
  position: absolute;
  left: 20px;
  top: 991px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.voltar {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 52px;
  top: 1006.04px;
  width: 107px;
  height: 50.91px;
}
.rectangle-3 {
  background: #d9d9d9;
  border-radius: 25px;
  opacity: 0.5;
  width: 660px;
  height: 156px;
  position: absolute;
  left: 20px;
  top: 27px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-1 {
  background: #d9d9d9;
  border-radius: 25px;
  width: 250px;
  height: 70px;
  position: absolute;
  left: 282px;
  top: 65px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 555px;
  top: 49px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame {
  width: 119px;
  height: 119px;
  position: absolute;
  left: 545px;
  top: 40px;
  overflow: visible;
}
.frame2 {
  width: 144px;
  height: 144px;
  position: absolute;
  left: 20px;
  top: 27px;
  overflow: visible;
}
.image {
  border-radius: 154.5px;
  width: 124px;
  height: 124px;
  position: absolute;
  left: 30px;
  top: 38px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 1;
}
.nv-25 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 168px;
  top: 81px;
}
.rectangle-26 {
  background: #70c8ff;
  border-radius: 25px;
  width: 80px;
  height: 70px;
  position: absolute;
  left: 280px;
  top: 65px;
}
